.main-container {
  max-width: 1440px;
  display: flex;
  margin: auto;
  box-sizing: border-box;
  @media only screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
}
.weather-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60%;
  font-size: 1rem;
  @media only screen and (max-width: 1024px) {
    max-width: 100%;
  }
}

.weather-today {
  display: grid;
}

.weather-in-future {
  display: flex;
}
.weather-today__city,
.weather-today__data,
.weather-today__info {
  font-size: 2rem;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  border-radius: 5px;
  color: #fff;
}
.weather-today__info {
  display: grid;
  align-items: center;
  height: 462px;
  grid-template-areas:
    "temp icon"
    "temp info";
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  text-transform: uppercase;
  @media only screen and (max-width: 1176px) {
    height: 425px;
  }
}

.weather-today__temperature {
  font-weight: 400;
  font-size: 8.5rem;
  grid-area: temp;
  @media only screen and (max-width: 425px) {
    font-size: 4rem;
  }
}
.weather-today__icon {
  width: 80%;
  grid-area: icon;
}
.weather-today__additional-info {
  font-size: 1.5rem;
  grid-area: info;
  @media only screen and (max-width: 425px) {
    font-size: 1.2rem;
  }
}

.weather-in-future {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  @media only screen and (max-width: 425px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.day-block {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  font-size: 1.1em;
  color: #fff;
  text-transform: uppercase;
  @media only screen and (max-width: 425px) {
    width: 94%;
    justify-content: space-around;
    margin: 5px;
  }
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.day-block img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.day {
  width: 100%;
  align-self: center;
  text-align: center;
}
.day-temperature {
  margin: 20px 0px 0px 30px;
  font-size: 2rem;
}
