.header {
    height: 60px;
    background-image: url(/src/assets/images/img2.jpg);
    background-size: cover;
}
.header__logo {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 16px;
}