section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
  section
    h3 Webpack dev server
  section
    h3 install
    p npm install webpack-dev-server
  section
    h3 config
    p webpack.config.js
    image(src="images/devserver1.png")
    p package.json
    image(src="images/devserver2.png")