section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
  section
    h3 Scripts
    p set scripts
  section
    image(src='images/scripts.png')
  section
    h3 Watch mode
    p About it