section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
  section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
    h3 How to install?
    code.
      npm i webpack webpack-cli --save-dev
  section
    h2 Chech it
      code.
          "devDependencies": {
          "webpack": "^4.43.0",
          "webpack-cli": "^3.3.11"
        }
  section
    image(src='images/init.png')