section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
  section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
    h3 config
  section
    image(src="images/config.png")
  section
    h3 run it
    p write in console "webpack"
  section
    image(src="images/bundle.png")
  section
    image(src="images/dist.png")