section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
  section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
    h2 What is it?
  section
    image(src='images/whatis.png')