section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
  section
    h3 Loaders
  section
    h3 popular loaders
    p babel loader
    p style loaders
    p eslint loader
    p framework loaders
    p files loader
  section
    h3 what else?
  section
    h3 example
    image(src='images/loaders.png')
