section(data-background-image="images/background.jpg", data-background-opacity='0.3' )
  section
    h3 Plugins
  section
    h3 Popular plugins
    p HtmlWebpackPlugin
    p MiniCssExtractPlugin
    p CopyWebpackPlugin
    p UglifyjsWebpackPlugin
    p SplitChunksPlugin
  section
    h3 example
    image(src='images/plugins.png')