.main-card {
  margin-top: 40px;
}
.main-card__link {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 300px;
  height: 280px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  background: linear-gradient(180deg,#787e26,#6db60e 40%,#fff 0,#fff);
}
.main-card__image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  object-fit: cover;
  margin: 30px auto;
}
